body {
    margin: 10%;
}

p {
    margin: 0;
}

.connect {
    background-color: black;
    color: aliceblue;
    margin: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    width: 200px;
}

.flex_container {
    display: flex;
    flex-direction: row;
}